body {
    background-color: rgba(188, 255, 233, 0.089);
}
h1 {
    text-align: center;
}

.calculator {
    text-align: center;
}
.numbers {
    margin: 5px;
}

footer {
    text-align: center;
}
#textfield {
    border: 0px none;
    font-size: 3rem;
    text-align: center;
    color: rgb(39, 76, 145);
    font-family: 'Roboto', sans-serif;
    width: 300px;
}
.btn-lg, .btn {
    width: 70px;
    height: 70px;
}
.container {
    background-color: rgba(199, 206, 245, 0.274);
    padding: 20px;
    width: fit-content;
    margin-top: 2rem;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.308);
}
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .fa {
    color: white;
  }