h1 {
    text-align: center;
}

.calculator {
    text-align: center;
}
.numbers {
    margin: 5px;
}
footer {
    text-align: center;
}
#textfield {
    border: 0px none;
    font-size: xx-large;
    text-align: center;
    color: cornflowerblue;
    font-family: 'Roboto', sans-serif;
}